@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: clamp(14px, 2.5vw, 16px);
}
html,
body,
#root {
    height: 100%;
    margin: 0;
}
body {
    @apply bg-neutral-100;
}
